* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-size:"Poppins", sans-serif;
}

html {
     scroll-behavior: smooth;
}

body {
     font-size: "Poppins", sans-serif;
}

header {
     display: flex;
     align-items:center;
     justify-content: space-between;
     width:100%;
     position:fixed;
     top:0;
     left:0;
     background-color: white;
     padding: 10px;
     box-shadow:0 0 5px rgba(0,0,0,0.3);
}

header .logo {
     width:20%;
}

header .logo h2 {
     color: rgb(4, 186, 150);
     font-size:3rem;
     letter-spacing: 4px;
     font-weight: bolder;
}

header nav {
     width:80%;
     justify-self:flex-end;
}

header nav ul {
     display: flex;
     align-items:center;
     justify-content: flex-end;
     gap:10px;
     width:80%;
}

header nav ul li {
     list-style: none;
     margin: 0px 20px;
}

header nav ul li a {
     text-decoration:none;
     color:#262626;
     font-size:1.2rem;
     font-weight: 600;
     transition: .3s;
}

header nav ul li a:hover {
     color:#6d6d6d;
}

header nav ul li a.active {
     color:rgb(23, 23, 240);
}

.dashboard {
     position:absolute;
     top:50%;
     left:50%;
     transform:translate(-50%, -50%);
     display: flex;
     align-items:center;
     justify-content: center;
     flex-wrap: wrap;
     width:80%;
     gap:10px;
}

.item {
     box-shadow: 0 0 10px rgba(0,0,0,0.3);
     height:150px;
     border-radius:4px;
     display:flex;
     align-items:center;
     justify-content: center;
     flex-direction: column;
     width:230Px;
     color:white;
     text-decoration: none;
}

.item h2 {
     font-size: 20px;
}

.item p {
     font-size: 20px;
     font-weight: bolder;
}

.item.articles {
     background-color: rgb(7, 143, 98);
}

.item.categories {
     background-color: rgb(132, 36, 223);
}

.containers {
     position:absolute;
     top:20%;
     left:1%;
     width:100%;
}

.forms {
     position:fixed;
     top:50%;
     left:50%;
     width:60%;
     transform:translate(-50%,-50%);
}

