* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-size:"Poppins", sans-serif;
}

html {
     scroll-behavior: smooth;
}

body {
     font-size: "Poppins", sans-serif;
}

header {
     display: flex;
     align-items:center;
     justify-content: space-between;
     width:100%;
     position:fixed;
     top:0;
     left:0;
     background-color: white;
     padding: 10px;
     box-shadow:0 0 5px rgba(0,0,0,0.3);
}

header .logo {
     width:20%;
}

header .logo h2 {
     color: rgb(4, 186, 150);
     font-size:3rem;
     letter-spacing: 4px;
     font-weight: bolder;
}

header nav {
     width:80%;
     justify-self:flex-end;
}

header nav ul {
     display: flex;
     align-items:center;
     justify-content: center;
     gap:10px;
     width:80%;
}

header nav ul li {
     list-style: none;
}

header nav ul li a {
     text-decoration:none;
     color:#262626;
     font-size:1.2rem;
}

.containers {
     position:absolute;
     top:20%;
     left:1%;
     width:100%;
}

.forms {
     position:fixed;
     top:50%;
     left:50%;
     width:60%;
     transform:translate(-50%,-50%);
}

